@font-face {
    font-family: "Gilroy-SemiBold";
    src: url(/ARShakir/assets/fonts/gilroy-semibold.ttf);
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(/ARShakir/assets/fonts/gilroy-bold.ttf);
    font-style: normal;
    font-weight: bold;
}